WATCH_URL=https://jaketboat.bankjakarta.co.id/
KEYWORD=
CHECK_INTERVAL_SECONDS=300
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=123456,789012
STATE_FILE=/data/state.json
HTTP_TIMEOUT_SECONDS=20
USER_AGENT=Mozilla/5.0 WebsiteKeywordWatcher/1.0
